body {
  padding: 0;
  margin: 0; }

.global-holder {
  max-width: 1024px;
  margin: 0 auto; }

header {
  height: 100px; }
  header .search {
    position: relative;
    float: right; }

main .department, main .team {
  width: 50%;
  display: inline-block;
  vertical-align: top; }

.profile-holder {
  position: absolute;
  left: 50%; }
  .profile-holder .profile-view {
    background: rgba(255, 0, 255, 0.75);
    position: relative;
    left: -50%;
    padding: 30px;
    width: 500px; }
    .profile-holder .profile-view .image img {
      width: 100%; }
