body {
	padding:0;
	margin:0;  
	background: $x-dark-grey;
	color:$off-white;
}

p,h1,h2,h3,h4,h5,h6,a {
	color:$off-white;
}


.global-holder {
	max-width:1024px;
    margin: 0 auto;
}


main {

    .box {
        display:inline-block;
        vertical-align:top;
    	&.fifty-fifty {
    		width:50%;
    	}
    }
}


