.profile-holder {
    position:absolute;
    left:50%;
    .profile-view {
        background:$transparent-dark-blue;
        position: relative; 
        left: -50%;
        padding: 30px;
        width: 500px;
        .image {
            img {
                width: 100%;       
            }
        }
    } 
}