<div ng-model="staffDirectory" class="profile-view">

	<div class='image'><img ng-src='{{staff.details.image}}' /></div>

	<div>Department: {{staff.details.department}}</div>

	<div>Team: {{staff.details.team}}</div>

	<div ng-hide="staff.details.qualifications">
		<input type='text' placeholder='Enter your first qualification' />
	</div>

	<div ng-show="staff.details.qualifications">

		<div ng-repeat='(key,staffChild) in staff.details.qualifications'>
			<h2>{{staffChild.qualification.level}} 
				<span ng-if="readWrite === 'Write'" ng-click="removeQualificationLevel($index)">[Remove]</span>
			</h2>
			<ul>
				<li ng-repeat='(staffKey,qualification) in staffChild.qualification.name'>
					<span>{{qualification}}</span>
					
					<span ng-if="readWrite === 'Write'" ng-click="removeQualification($parent.staffChild._id,qualification,$index)">Remove</span>
				</li>
			<ul>

		</div>

		<div class="add-qualification">

			<form ng-if="readWrite === 'Write'" ng-submit='addQualification()'>
				<input type="text" placeholder="New qualification" ng-model='$parent.qualificationName' />

				<div ng-bind="$parent.qualificationName"></div>

				<select ng-model="$parent.qualificationLevelID" ng-init>
					<option  ng-repeat='(attribute, value) in staff.details.qualifications' ng-init="attribute" value="{{value._id}}">{{value.qualification.level}} {{attribute}}</option>
				</select>

				<input type="text" ng-model="$parent.newQualificationLevel">

				<div ng-hide="newQualificationLevel">
					<div ng-bind="$parent.qualificationLevelID"></div>
				</div>

				<div ng-show="newQualificationLevel">
					<div ng-bind="$parent.newQualificationLevel"></div>
				</div>

				<input type="submit" value="Submit">
			</form>
		</div>


	</div>

	<div ng-click="close()">Close profile</div>

</div>