<!DOCTYPE html>
<html ng-app="staffDirectory">
<head>
	<title>Staff System</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<div class="global-holder">

	<header>

		<div class="readWrite" ng-controller="readWrite">
			<div ng-if="permissions === true">
				<div class="mode">
					<span ng-click="setReadWrite()">Set Mode:</span> <span>{{$parent.readWrite}}</span>
				</div>
							
			</div>
			<div ng-if="permissions === false">
				<p>No access to write</p>
			</div>
		</div>

		<div class="search" ng-controller="staffSearch">
			<form>
				<div class="search-container">
				  <div class="container-1">
				      <span class="icon"><i class="fa fa-search"></i></span>
				      <input ng-change="typing()" ng-model="searchText" type="search" id="search" placeholder="Search..." />
				  </div>
				</div>


				<div class="search-type-container">
					<select ng-model="searchType" ng-change="alterSearchType()">
						<option>Person</option>
						<option>Team</option>
						<option>Department</option>
					</select>
				</div>
				
			</form>
			<div class="results">
				<div class="results-list">
					<div class="search-summary">Looking for <strong ng-bind="searchText"></strong> in <strong ng-bind="searchType"></strong></div>
					<div ng-repeat="results in searchResults">
						<img src="{{results.details.image}}"> 
						<div class="about">
							<div>{{results.details.firstname}} {{results.details.surname}}</div>
							<div>{{results.details.team}}</div>
							<div>{{results.details.department}}</div>

						</div>
					</div>
				</div>
			</div>

		</div>
		
	</header>


	<main>
		<div class="personal-profile" ng-controller="currentUserProfile">
			<div class="box fifty-fifty">
				<h2>Yourself</h2>
				<div class="personal">
					<div class="profile-image">
						<img src="{{currentUserDetails.details.image}}" alt="Profile photo">
					</div>
					<span class="firstname">{{currentUserDetails.details.firstname}}</span> <span class="surname">{{currentUserDetails.details.surname}}</span><br />
					<span class="dob">{{currentUserDetails.details.dob}}</span>
				</div>
				<div class="professional">
					<!--<span>Your Team: </span>
					<span ng-if="editValue === false" ng-click="editDept('team')">{{currentUserDetails.details.team}}</span>
					<span ng-if="editValue === true && teamInEdit === true">
						<input ng-blur="editDept('team')" type="text" ng-model="$parent.updatedInstitutionArea">
						<span ng-bind="$parent.updatedInstitutionArea"></span>
					</span><br />

					<span>Your Department: </span>
					<span ng-if="editValue === false" ng-click="editDept('department')">{{currentUserDetails.details.department}}</span>
					<span ng-if="editValue === true && departmentInEdit === true">
						<input ng-blur="editDept('department')" type="text" ng-model="$parent.updatedInstitutionArea">
						<span ng-bind="$parent.updatedInstitutionArea"></span>
					</span>-->
					<div class="team">{{currentUserDetails.details.team}}</div>
					<div class="department">{{currentUserDetails.details.department}}</div>

				</div>
			</div><!--
			--><div class="academic box fifty-fifty">
				<h2>Your Qualifications</h2>

				<ul ng-repeat="quals in currentUserDetails.details.qualifications">
					<h2>{{quals.qualification.level}}</h2>
					<li ng-repeat="qualName in quals.qualification.name">
						<span>{{qualName}}</span>
					</li>
				</ul>
			

			</div>

		</div>

		<div ng-controller="staff">
			<div class="department box fifty-fifty">
				<h2>Your Department</h2>
				<ul>
					<li ng-repeat="deptMembers in department">
						<a href="#staff/{{deptMembers._id}}">{{deptMembers.details.firstname}} {{deptMembers.details.surname}}</a>
					</li>
				</ul>
			</div><!--
			--><div class="team box fifty-fifty">
				<h2>Your Team</h2>
				<ul>
					<li ng-repeat="teamMembers in team">
						<a href="#staff/{{teamMembers._id}}">{{teamMembers.details.firstname}} {{teamMembers.details.surname}}</a>
					</li>
				</ul>
			</div>
		</div>

		<div ng-controller="rooms">
			
		</div>


		<div ng-controller="showProfile">
			<div ng-view class="profile-holder"></div>
		</div>



	</main>


</div>

<div>
	<strong>Done: </strong>
	<ul>
		<li>Get names from db on page load</li>
		<li>Get other profile information relevant to staff member clicked</li>
		<li>Add lightbox styling to show profile</li>
		<li>Add/Remove Qualifications</li>
		<li>Create editing permissions dependent on user permissions
			<ul>
				<li>Create view for view only and another for read and write if access to edit - <strong>Bug - If admin leaves in write mode and user logs in, user can continue to write. Solution - Write to cookie username, if username === x and if write mode === true allow write, else allow read only, destroy cookie. On post/put if user type === admin allow write/otherwise fail</strong></li>
			</ul>
		</li>
		<li>Add search across, names, teams and departments</li>
	</ul>
	<strong>To Do Next: </strong>
	<ul>
		<li>Add permissions based views and components depending on access</li>
		<li>Add room booker with rooms and dates</li>
		<li>Add instant chat via socket.io</li>
	</ul>
</div>

<div>
	<ul>
		<li>$set</li>
		<li>$elemMatch</li>
		<li>$push</li>
		<li>$in</li>
		<li>$match</li>
		<li>$</li>
		<li>$gte/$lte</li>
		<li>$sort</li>
		<li>$group</li>
	</ul>
</div>

<div>
	<h2>Strategy</h2>
	<div>Read only user and managers edit, no one can edit their personal profile, they can update their qualifications though</div>
</div>

	<script type="text/javascript" src="libraries/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="libraries/angular.js"></script>
	<script src="node_modules/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="libraries/angular-cookies.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

</body>
</html>